<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.treeshell.qa.mapper.ProblemMapper">
    <select id="newlist" resultType="cn.treeshell.qa.model.Problem">
        SELECT * FROM problem, reply WHERE id = problemid AND labelid = #{labelId} ORDER BY replytime DESC
    </select>

    <select id="hotlist" resultType="cn.treeshell.qa.model.Problem">
        SELECT * FROM problem, reply WHERE id = problemid AND labelid = #{labelId} ORDER BY reply DESC
    </select>

    <select id="waitlist" resultType="cn.treeshell.qa.model.Problem">
        SELECT * FROM problem, reply WHERE id = problemid AND labelid = #{labelId} AND reply=0 ORDER BY createtime DESC
        </select>
</mapper>
